@import url("../styles.css");
@import url("https://github.com/neharajesh/component-library-2.0.0/blob/master/src/styles.css");

.product-sort {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-sort fieldset {
    width: auto;
    margin: 1rem;
    padding: 1rem;
}

#filter-reset-button {
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    align-self: center;
}

.product-container {
    height: auto;
    width: auto;
    display: flex;
    flex-flow: row wrap;
}

.product-item {
    border: 1px solid red;
    width: 25rem;
    height: auto;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.product-item img {
    width: 200px;
    height: 200px;
}

.product-details{
    width: 100%;
    margin: 1rem 1rem;
}

#product-details-name {
    font-size: 1.2em;
    font-weight: bold;
}

#product-details-price {
    font-weight: bolder;
    padding: 0.5rem 0;
}